<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message block  -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <form id="updateReview" action="/account/delete/" method="post">
    <div>
      <h3>Add Review</h3>
    </div>

    <div>

      <label for="reviewDate">Review Date:</label>
    </div>
    
      <input type="text" name="review_date" id="reviewDate" value="<%= formattedDate %>" readonly>
      <% if(locals.review_date) { %><%= locals.review_date %><% } %>
    

    <div>
      <label for="review_text">Review:</label>
    </div>
    
      <textarea name="review_text" id="review_text" cols="30" rows="10" minlength="4" readonly>
        <% if(locals.review_text) { %><%= locals.review_text %><% } %>
      </textarea>
    

    <input type="hidden" name="inv_id" value="<%= locals.inv_id %>">
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    <input type="hidden" name="review_id" value="<%= locals.review_id %>">

    <div id="warning">
        <h4>This action is permanent! Do you wish to continue?</h4>
    </div>

    <div>
      <button type="submit" >Delete Review</button>
    </div>
  </form>