<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

    <!-- Message block  -->
    <%- messages() %>

      <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>

          <form id="updateReview" action="/account/edit-review" method="post">
            <div>
              <h3>Add Review</h3>
            </div>

            <div>

              <label for="reviewDate">Review Date:</label>
            </div>
            <div>
              <input type="text" name="review_date" id="reviewDate" value="<%= formattedDate %>" readonly>
              <% if(locals.review_date) { %><%= locals.review_date %><% } %>
            </div>

            <div>
              <label for="review_text">Review:</label>
            </div>
            <div>
              <textarea name="review_text" id="review_text" cols="30" rows="10" required minlength="4">
                <% if(locals.review_text) { %><%= locals.review_text %><% } %>
              </textarea>
            </div>

            <input type="hidden" name="inv_id" value="<%= locals.inv_id %>">
            <input type="hidden" name="account_id" value="<%= locals.account_id %>">

            <div>
              <button type="submit" disabled>Update Review</button>
            </div>
          </form>

          <script src="../../js/rev-update.js"></script