<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message block  -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form id="updateForm" action="/inv/delete" method="post" >

  <label for="invMake">Make: </label><br>
    <input type="text" name="inv_make" id="invMake" required minlength="3" placeholder="Min of 3 characters" readonly 
    <% if(locals.inv_make) { %> value="<%= locals.inv_make %>" <% } %>>

    <label for="invModel">Model: </label><br>
    <input type="text" name="inv_model" id="invModel" required minlength="3" placeholder="Min of 3 characters" readonly  
    <% if(locals.inv_model) { %> value="<%= locals.inv_model %>" <% } %>>

    <label for="invYear">Year: </label><br>
    <input type="integer" name="inv_year" id="invYear" size="10" placeholder="4-digit year" required minlength="4" pattern="^(19|20)\d{2}$" readonly
    <% if(locals.inv_year) { %> value="<%= locals.inv_year %>" <% } %>>

    <label for="invPrice">Price: </label><br>
    <input type="text" name="inv_price" id="invPrice" size="10" placeholder="decimal or integer numbers only" 
    required pattern="^[1-9]\d*(\.\d+)?$" readonly
    <% if(locals.inv_price) { %> value="<%= locals.inv_price %>" <% } %>>

    <p>Confirm Deletion - This action is permanent</p>

    <button type="submit">Delete Vehicle</button>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>
