<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %> 

<%- detail %>
<div id="readreview">
  <h2 id="readreviewheading">Reviews</h2>

  <% if(reviewdata.length === 0) { %>
      <p id="noreviews">No reviews yet. Be the first to write one!</p>
    <% } else { %>
        <%- review %>
    <% } %>
</div>


<% if(locals.loggedin) { %>
  <div id="reviewmanagementview">
    <form action="/inv/review/<%= inv_id %>" method="post">
      <div>
        <h3>Add Review</h3>
      </div>
       
      <div>
        <% let screenName = locals.accountData.account_firstname[0] + locals.accountData.account_lastname %>
        <label for="screenName">Screen Name:</label>
      </div>
      <div>
        <input type="text" name="screenName" id="screenName" value="<%= screenName %>" readonly>
      </div>

      <div>
        <label for="review_text">Review:</label>
      </div>
      <div>
        <textarea name="review_text" id="review_text" cols="30" rows="10"></textarea>
      </div>

      <input type="hidden" name="inv_id" value="<%= inv_id %>">
      <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">

      <div>
        <button type="submit">Submit Review</button>
      </div>
    </form>
  </div>


  <% } else { %>
    
    <a title="Login to account" href="/account/login">Please login to leave a review.</a>
    <% } %>

